.movie-multiselect.dropdown-menu {
  top: initial;
  left: initial;
  display: initial;
  float: initial;
  padding: initial;
  margin: initial;
  font-size: initial;
  border-radius: initial;
  box-shadow: initial;
}